{% if hasPermission('PaustianQuickcheckModule::', '::', 'ACCESS_ADMIN') %}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
{% endif %}
<div class="container-fluid">
    {{ showflashes() }}
    <h3>{{ __('Chose a Survey to Edit or Delete') }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ __('Survey Institution') }}</th>
            <th>{{ __('Survey Course') }}</th>
            <th>{{ __('Survey Pre/Post') }}</th>
            <th>{{ __('Survey Date') }}</th>
            <th> {{ __('Actions') }} </th></tr>
        </thead>
        <tbody>
        {% for survey in surveys%}
            <tr>
                <td>{{ survey.institution }}</td>
                <td>{{ survey.course }}</td>
                {% if survey.prePost %}
                <td>Post-survey</td>
                {%  else %}
                <td>Pre-survey</td>
                {% endif %}
                <td>{{ survey.surveyDate.date }}</td>
                <td class="actions">
                    <a href="{{ path('paustianpmcimodule_survey_edit', { survey: survey.id }) }}" class="fa fa-pencil" title="{{ __('Edit a survey') }}"></a>
                    <a href="{{ path('paustianpmcimodule_survey_delete', { survey: survey.id }) }}" class="fa fa-trash-o" title="{{ __('Delete a Survey') }}" onclick="return confirm('Are you sure you want to delete this survey? Doing so will delete all survey responses')"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>